<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppNoiSoi.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7D07400346DC24079024792C6B469BA76F10AD65</string>
				<key>dateExpires</key>
				<string>5/26/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HA389773C9.org.reactjs.native.igh.appnoisoi.AppNoiSoi</string>
				<key>com.apple.developer.team-identifier</key>
				<string>HA389773C9</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>HA389773C9.org.reactjs.native.igh.appnoisoi.AppNoiSoi</string>
				</array>
			</dict>
			<key>name</key>
			<string>Làm sạch đại tràng.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fb56a791-dc6f-4711-8448-57cd8075fc8f</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: org.reactjs.native.igh.appnoisoi.AppNoiSoi</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HA389773C9</string>
				<key>name</key>
				<string>Tiem Nguyen Khanh</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
